<!DOCTYPE html>
<html lang="en">

<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/css/dashboard.css" />
</head>

<body>
    <div class="header">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/dashboard/">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="find_matches">Find Matches</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Favorites</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="contrainer">
        <div class="card-deck">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Dashboard</h5>
                    <p class="card-text">You are currently Logged in.</p>
                    <a href="/user/signout" class="btn btn-primary">Sign Out</a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Your Info</h5>
                    <p class="card-text">
                        <strong>ID: </strong>{{session['user']['_id']}}<br>
                        <strong>First name: </strong>{{session['user']['first_name']}}<br>
                        <strong>Last name: </strong>{{session['user']['last_name']}}<br>
                        <strong>Email: </strong>{{session['user']['email']}}<br>
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>