<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/index.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <script src="../static/js/validate.js"></script>
    <title>Dating App</title>
</head>

<body>
    <div>
        <div class="header">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="#">Dating App</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="showlogin">Sign in</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="showsignup">Sign up</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="signup-login">
            <div>
                <div>
                    <div class="login-form">
                        <form name="login_form">
                            <div class="sidenav">
                                <div class="login-main-text">
                                    <h2>Login</h2>
                                    <p class="hint-text">Login or register from here to access.</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <!--<label>Email</label> -->
                                <input type="email" name="email" id="email" class="form-control" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <!--<label>Password</label>-->
                                <input type="password" name="password" id="password" class="form-control"
                                    placeholder="Password">
                            </div>
                            <p class="error error-hidden"></p>
                            <button type="submit" class="btn btn-success btn-lg btn-block center">Sign in</button>
                        </form>
                        <div class="text-center">Don't have an account? <a href="showsignup">Sign up</a></div>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>