<!DOCTYPE html>
<html lang="en">

<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="contrainer">
        <div class="card-deck">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Dashboard</h5>
                    <p class="card-text">You are currently Logged in.</p>
                    <a href="/user/signout" class="btn btn-primary">Sign Out</a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Your Info</h5>
                    <p class="card-text">
                        <strong>ID: </strong>{{session['user']['_id']}}<br>
                        <strong>First name: </strong>{{session['user']['first_name']}}<br>
                        <strong>Last name: </strong>{{session['user']['last_name']}}<br>
                        <strong>Email: </strong>{{session['user']['email']}}<br>
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>