<!DOCTYPE html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no " />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/index.css" />
    <title>Dating App</title>
</head>

<body>
    <div>
        <div class="header">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="showlogin">Sign in</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="showsignup">Sign up</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    <div class="signup-login">
        <div>
            <div>
                <div class="login-form">
                    <form>
                        <div class="sidenav">
                            <div class="login-main-text">
                                <h2>Login</h2>
                                <p>Login or register from here to access.</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" class="form-control" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" class="form-control" placeholder="Password">
                        </div>
                        <button type="submit" class="btn btn-success center">Login</button>
                        <button type="submit" class="btn btn-secondary center">Register</button>
                    </form>
                    <div class="text-center">Don't have an account? <a href="showsignup">Sign up</a></div>
                </div>
            </div>
        </div>
    </div>
</body>