<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="../static/css/index.css" />
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"
		integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
	<script src="../static/js/validate.js"></script>
	<title>Dating App</title>
</head>

<body>
	<div>
		<div class="header">
			<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
				<div class="collapse navbar-collapse" id="navbarText">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item">
							<a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="showlogin">Sign in</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="showsignup">Sign up</a>
						</li>
					</ul>
				</div>
			</nav>
		</div>
		<div class="signup-login">
			<form name="registration">
				<h2>Register</h2>
				<p class="hint-text">Create your account. It's free and only takes a minute.</p>
				<div class="form-group">
					<div class="row">
						<div class="col"><input type="text" class="form-control" name="first_name"
								placeholder="First Name" id="first_name"></div>
						<div class="col"><input type="text" class="form-control" name="last_name"
								placeholder="Last Name" id="last_name"></div>
					</div>
				</div>
				<div class="form-group">
					<input type="email" class="form-control" name="email" placeholder="Email" id="email">
				</div>
				<div class="form-group">
					<input type="password" class="form-control" name="password" placeholder="Password" id="password">
				</div>
				<div class="form-group">
					<p class="error error-hidden"></p>
					<button type="submit" class="btn btn-success btn-lg btn-block center" id="btnSignUp">Register
						Now</button>
				</div>
			</form>
			<div class="text-center">Already have an account? <a href="showlogin">Sign in</a></div>
		</div>
</body>

</html>